echo "*.o" > .gitignore
echo "*.ko" >> .gitignore
echo "*.mod" >> .gitignore
echo "*.mod.c" >> .gitignore
echo "*.mod.o" >> .gitignore
echo "*.symvers" >> .gitignore
echo "*.order" >> .gitignore
echo ".*.cmd" >> .gitignore
echo "user_space/irq_test" >> .gitignore